nav {
    padding: 1rem 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  
  .logo {
    width: 18rem;
  }
  nav ul {
    font-size: 1.7rem;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 4rem;
  }
  
  .dark-nav {
    background-color: #000ea0;
    transition: 0.4s;
  }
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 992px) {
    .logo {
      width: 15rem;
    }
  
    nav ul li {
      margin-left: 2.5rem;
    }
  }
  @media (max-width: 840px) {
    .logo {
      width: 15rem;
    }
  
    nav ul {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      padding-top: 70px;
      background: #212ea0;
      transition: 0.5s;
      z-index: -1;
    }
  
    nav ul li {
      display: block;
      margin: 2.5rem 4rem;
    }
    .menu-icon {
      display: block;
      width: 3rem;
      transition: 0.3s;
    }
  
    .hide-mobile-menu {
      right: -200px;
    }
  }